@model PatrykKamińskiProjektPZ.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Sign in with a different service.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                No external authentication services are configured. See also <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tym artykułem</a>,
                for details on how to configure this ASP.NET app to support third-party sign-in.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Sign in with your account @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
