@model PatrykKamińskiProjektPZ.Models.Astro
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Details";
}
<body class="background2">
    <div class="Darker">
        <h2>Details</h2>

        <div>
            <h4>Model</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Send by:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profile.UserName)
                </dd>

                <dt>
                    Name Astrophotograph:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Picture
                </dt>

                <dd>
                    <img class="AstroFoto" src="~/Zdjecia/@Model.Picture" alt="">
                </dd>

                <dt>
                    Description:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Send date:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SendDate)
                </dd>

                <dt>
                    Average rating:
                </dt>

                <dd>
                    @ViewBag.Srednia
                    <label>
                        |
                    </label>
                    @if (User.Identity.IsAuthenticated)
                    {
                        bool check = true;
                        foreach (var item in Model.RatingsAstro)
                        {
                            if (item.Profile.UserName.Equals(User.Identity.Name))
                            {
                                check = false;
                            }
                        }
                        if (check)
                        {
                            @Html.ActionLink("Dodaj Ocenę", "AddRating", new { id = Model.ID })
                        }

                    }
                </dd>
                <dd>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dodaj Komentarz", "AddKoment", new { id = Model.ID })</li>
                    }
                </dd>


                <dt>
                    Comments:
                </dt>
                <dd>
                    <table class="table">
                        <tr>
                            <th>Send date: </th>
                            <th>User name: </th>
                            <th>Content: </th>
                        </tr>
                        @{if (Model.AstroKoments != null)
                            {
                                foreach (var item in Model.AstroKoments)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SendDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Profile.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Text)
                                        </td>
                                    </tr>
                                }
                            }
                        }

                    </table>
                </dd>

            </dl>
        </div>
        <p>
            @if (User.Identity.IsAuthenticated)
            {
                bool check2 = false;
                if (Model.Profile.UserName.Equals(User.Identity.Name))
                {
                    check2 = true;
                }
                if (check2 || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
                    <label>
                        |
                    </label>
                }
            }

            @Html.ActionLink("Back to list", "Index")
        </p>
    </div>
</body>