@model PatrykKamińskiProjektPZ.Models.ArticleKoment
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tworzenie komentarza";
}
<body class="background">
    <div class="Lighter">
        <h2>Napisz komentarz</h2>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Komentarz do artykułu o tytule: @ViewBag.Name </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                        <label>@ViewBag.Name</label>
                        @{
                            int i = ViewBag.articleId;
                            @Html.HiddenFor(model => model.ArticleID);
                            ViewBag.Id = i;
                        }
                    </div>*@

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.ArticleID, new { Value = ViewBag.articleId })
                        @Html.ValidationMessageFor(model => model.ArticleID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(model => model.SendDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SendDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SendDate, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Wróć", "Back", new { id = ViewBag.articleId })
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</body>