@model PatrykKamińskiProjektPZ.Models.ArticleKoment
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Usuwanie";
}
<body class="background">
    <div class="Lighter">
        <h2>Usuwanie</h2>

        <h3>AJesteś pewny, że chcesz usunąć ten komentarz?</h3>
        <div>
            <h4>ArticleKoment</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Article.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Article.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SendDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SendDate)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</body>