@model IEnumerable<PatrykKamińskiProjektPZ.Models.AstroKoment>
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
<body class="background">
    <div class="Lighter">
        <h2>Index</h2>

        <p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Create New", "Create")
            }
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Astro.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SendDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Astro.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SendDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>