@model PatrykKamińskiProjektPZ.Models.Article
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Details";
}
<body class="background">
    <div class="Lighter">
        <h2>Details</h2>

        <div>
            <h4>Article</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Posted by:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Profile.UserName)
                </dd>

                <dt>
                    Title:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    Content:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>

                <dt>
                    Upload date:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SendDate)
                </dd>
                <dd>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Add koment", "AddKoment", new { id = Model.Id })</li>
                    }
                </dd>
                <dt>
                    Koments:
                </dt>
                <dd>
                    <table class="table">
                        <tr>
                            <th>Upload date: </th>
                            <th>User name: </th>
                            <th>Content: </th>
                        </tr>
                        @if (Model.ArticleKoments != null)
                        {
                            foreach (var item in Model.ArticleKoments)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SendDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Profile.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Text)
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                </dd>

            </dl>
        </div>
        <p>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id });
                <label>
                    |
                </label>
            }
            @Html.ActionLink("back to articles", "Index")
        </p>
    </div>
</body>