@model PatrykKamińskiProjektPZ.Models.RatingAstro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RatingAstro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Astro.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Astro.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
